body
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
.editbox
{
display:none
}
.table1 {border: 1px solid black;width: 95%;float:left;}
.table2 {border: 1px solid black;width: 5%;float:right;}
.head {height: 50px; color:white; background-color: black;}
.delete{
	cursor:pointer;
}
td
{
padding:5px;
height: 25px;
}
.editbox
{
font-size:14px;
width:270px;
background-color:#ffffcc;
border:solid 1px #000;
padding:4px;
}
.edit_tr:hover
{
background:url(../images/edit.png) right no-repeat #80C8E5;
cursor:pointer;
}